body {
  background-color: #007bff;
}
.container {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  border: 1px solid #ccc;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-checkbox.checked {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.checkbox-label-text {
  font-size: 16px;
  color: #333;
}

.checkbox-label-text.checked {
  font-weight: bold;
  color: #007bff;
}
.input-div {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #007bff;
}

input[type="text"],
select,
input[type="date"] {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="date"] {
  width: 100%;
  max-width: 150px;
  background-color: #fff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #007bff;
}
table tr:hover {
  background-color: #f0f8ff;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .input-div {
    width: 80%;
  }
  h2 {
    font-size: 20px;
  }

  input[type="text"],
  select,
  input[type="date"] {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  table th,
  table td {
    padding: 8px;
  }
}
